@model Proyecto.Models.Proveedor

@{
    ViewData["Title"] = "Actualizar Datos del Proveedor";
}

<h1>Actualizar Datos del Proveedor</h1>

<h4>Proveedor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="idProveedor" class="control-label"></label>
                <input asp-for="idProveedor" class="form-control" readonly />
                <span asp-validation-for="idProveedor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="telefono" class="control-label"></label>
                <input asp-for="telefono" class="form-control" />
                <span asp-validation-for="telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="direccion" class="control-label"></label>
                <input asp-for="direccion" class="form-control" />
                <span asp-validation-for="direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="empresa" class="control-label"></label>
                <input asp-for="empresa" class="form-control" />
                <span asp-validation-for="empresa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ruc" class="control-label"></label>
                <input asp-for="ruc" class="form-control" />
                <span asp-validation-for="ruc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="correo" class="control-label"></label>
                <input asp-for="correo" class="form-control" />
                <span asp-validation-for="correo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="representante" class="control-label"></label>
                <input asp-for="representante" class="form-control" />
                <span asp-validation-for="representante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Actualizar Datos" class="btn btn-primary" />
                <a asp-action="list" class="btn btn-danger">Regresar al Listado</a>
            </div>
        </form>
    </div>
</div>

<div>
    @ViewBag.mensaje
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
